.BaaHam_MarketerUser_MoneyInProgressContainer {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.BaaHam_MarketerUser_MoneyInProgressTitle {
    flex:0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgb(245, 245, 245);
    color:rgb(99, 99, 99);
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    min-width: 100px;
}
.BaaHam_MarketerUser_MoneyInProgressTables {
    flex:0.78;
}

.BaaHam_MarketerUser_MoneyFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:30px;
    border-top:1px solid rgb(207, 207, 207);
    padding-top:30px;
}
.BaaHam_MarketerUser_MoneyFooterBox {
    width: 47%;
    background-color: rgb(254, 72, 0);
    border-radius: 10px;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    align-items: center;
}
.BaaHam_MarketerUser_MoneyFooterBoxTitle {
    height: 50%;
    background-color: rgb(52, 52, 52);
    border-radius: 10px;
    color:white;
    font-size: 12px;
    font-weight: bold;
    padding:8px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BaaHam_MarketerUser_MoneyFooterBoxNumber {
    margin:6px 0px;
    color:white;
}


@media screen and (max-width : 782px) {

    .BaaHam_MarketerUser_MoneyFooter {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center ;
        row-gap: 10px;
    }
    .BaaHam_MarketerUser_MoneyFooterBox {
        width: 100%;
    }
}