body {
  margin: 0;
  font-family:IRANYekan,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: rgb(245, 245, 245);

}
span {
  text-align: right;
}

input {

  margin:auto;

}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/woff_Yekan/iranyekanwebregularfanum.woff') format('woff'),
  url('fonts/woff2_Yekan/IRANYekanWebRegular.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/woff_IranSansX/IRANSansXFaNum-Regular.woff') format('woff'),
  url('fonts/woff2_IranSansX/IRANSansXFaNum-Regular.woff2') format('woff2');
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/woff_kalameh/KalamehWebFaNum-Regular.woff') format('woff'),
  url('fonts/woff2_kalameh/KalamehWebFaNum-Regular.woff2') format('woff2');
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-family:IRANYekan !important ;
  font-size: 11px !important;
}
textarea {
  font-family:IRANYekan !important ;
  font-size: 11px !important;
}